:root,
form,
input, 
button {
    box-sizing: border-box;
    font: normal 14px/21px Arial, sans-serif;;
}
img {
    height: auto;
    width: 100%;
}
a{
    display: block;
    background-color: transparent;
    text-align: left;
}
/*
===========
 Layout 
===========
*/
main {
   display: flex; 
   flex-direction: column;
   align-items: center;
   flex: 0 1 auto;
   min-width: 240px;
}

/*
=============
 Search Area
=============
*/
#logo {
    display: flex;
    justify-content: center;
    flex: 0 1 auto;
    max-width: 42rem;
    object-fit: contain;
    margin: 3rem 0;
    padding: 0.5rem;
}
#search {
    width: 100%;
    max-width: 46rem;
}
#search > input {
    width: 100%;
    font-size: 1.38rem;
    line-height: 1.62;
    font-weight: 500;
    padding-left: 2em;
    border: 1px solid #ccc;
    border-radius: 2rem;
    background-color: white;
    background-image: url(images/search.png);
    background-size: 1.38em;
    background-repeat: no-repeat;
    background-position: 0.38rem center;
}


div[id="buttons"]{
    width: 250px;
    height: 45px;
    margin: auto;
}

button, input[type="submit"]{
    background-color: rgb(202, 202, 216);
    padding: 8px;
    border: transparent;
}