:root {
    box-sizing: border-box;
    font: normal 14px/21px Arial, sans-serif;;
}
img {
    height: auto;
    width: 100%;
}
a{
    display: block;
    background-color: transparent;
    text-align: left;
}
/*
===========
 Layout 
===========
*/
main {
   display: flex; 
   flex-direction: column;
   align-items: center;
   flex: 0 1 auto;
}

/*
=============
 Search Area
=============
*/
#logo {
    display: flex;
    justify-content: center;
    flex: 0 1 auto;
    max-width: 42rem;
    object-fit: contain;
    margin: 3rem 0;
    padding: 0.5rem;
}



div[id="image"] img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 30px;
}

/*search bar*/
input[type="text"]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-sizing: border-box;
    width: 450px;
    height: 50px;
    border: 2px solid #ccc;
    border-radius: 25px;
    background-color: white;
    background-image: url(images/search.png);
    background-position: 5px 5px ;
    background-size: 40px;
    background-repeat: no-repeat;
    padding: 5px;
    padding-left: 50px;
    font-size: 18px;
}
input[type="text"]:e{
    background: white;
    background-image: none;
}


div[id="buttons"]{
    width: 250px;
    height: 45px;
    margin: auto;
}

button, input[type="submit"]{
    background-color: rgb(202, 202, 216);
    padding: 8px;
    border: transparent;
}